//FYI WHEN DOING COLORS - USE THE SAME FILENAME AS TO THE VARIABLE. E.G FILENAME: _Pink.scss variable $Pink
//! FOLLOW THE SAME CONVENTION

$color: (
	light: (
		primary: (
			main: "#1077ee",
			light: "#57a9f9",
			dark: "#065a8d",
			contrastText: "#ffffff",
		),
		secondary: (
			main: "#007bff",
			light: "#6cb2eb",
			dark: "#0056b3",
			contrastText: "#ffffff",
		),
		error: (
			main: "#9b4444",
			light: "#c76d6d",
			dark: "#702f2f",
			contrastText: "#ffffff",
		),
		warning: (
			main: "#F2C354",
			light: "#F3D15C",
			dark: "#D1A73D",
			contrastText: "#000000",
		),
		info: (
			main: "#a8d1df",
			light: "#c1e6f4",
			dark: "#7f9dba",
			contrastText: "#000000",
		),
		success: (
			main: "#2e7d32",
			light: "#66bb6a",
			dark: "#1b5e20",
			contrastText: "#ffffff",
		),
		background: (
			main: "#f0f2f5",
			light: "#ffffff",
			dark: "#e3e1e1",
			contrastText: "#000000",
		),
		text: (
			main: "#3c4041",
			light: "#5e5e5e",
			dark: "#212121",
			contrastText: "#ffffff",
		),
		tertiary: (
			main: "#ffffff",
			light: "#f2f2f2",
			dark: "#cccccc",
			contrastText: "#000000",
		),
		caution: (
			main: "#ffc400",
			light: "#ffcd39",
			dark: "#e0a800",
			contrastText: "#000000",
		),
	),
	dark: (
		primary: (
			main: "#4ca0f8",
			light: "#74c2f9",
			dark: "#0077b5",
			contrastText: "#ffffff",
		),
		secondary: (
			main: "#1976d2",
			light: "#42a5f5",
			dark: "#1565c0",
			contrastText: "#ffffff",
		),
		error: (
			main: "#d24545",
			light: "#f27373",
			dark: "#9f2f2f",
			contrastText: "#ffffff",
		),
		warning: (
			main: "#F2C354",
			light: "#F3D15C",
			dark: "#D1A73D",
			contrastText: "#000000",
		),
		info: (
			main: "#6da4cd",
			light: "#8ec9e2",
			dark: "#4a8aaf",
			contrastText: "#000000",
		),
		success: (
			main: "#599f68",
			light: "#81c784",
			dark: "#388e3c",
			contrastText: "#ffffff",
		),
		background: (
			main: "#18191a",
			light: "#242526",
			dark: "#252525",
			contrastText: "#ffffff",
		),
		text: (
			main: "#f3ede4",
			light: "#c1c1c1",
			dark: "#9e9e9e",
			contrastText: "#000000",
		),
		tertiary: (
			main: "#ffffff",
			light: "#f0f0f0",
			dark: "#cccccc",
			contrastText: "#000000",
		),
		caution: (
			main: "#f7f700",
			light: "#ffff66",
			dark: "#d4d400",
			contrastText: "#000000",
		),
	),
);
